<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">

  <title>Mythical Creatures</title>
</head>
<body>
  <%- include('partials/_navbar.ejs') %>
  <h1>Mythical Creatures</h1>
  <p>Creatures Index</p>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>


</body>
</html>
